html {
    max-width: 1280px;
    margin: 0 auto;
    scroll-behavior: smooth; 
}
* {
   box-sizing: border-box;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}
.content {
    max-width: 80%;
    margin: auto;
    height: auto;
    display: flex;
}
.slide {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.controlls {
    text-align: center;
}
.controll-dot {
    width: 12px;
    height: 12px;
   border-radius: 50%;
   display: inline-block;
   background-color: blue;
   cursor: pointer;
   transition: 1s ease;

}
.active,
.controll-dot:hover {
    background-color: aqua;
}
.content .slide {
    animation-name: slider;
    animation-duration: 5s;
}
@keyframes slider {
    from {
        opacity: 0.6
    }
    to {
        opacity: 1
    }
}

